.content {
  background: indianred;
  border-bottom: 5px solid #111;
  padding: 35px 0;
  margin-bottom: 30px;
}

.top-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
